<div class="container">
    <form [formGroup]="niveauForm" (ngSubmit)="enregistereNiveau()">
        <div class="form-row">
            
    
            <div class="form-group col-md-3">
                <label for="inputEmail4">Libelle :</label>
                <input type="text" class="form-control" formControlName="libelle"
                [ngClass]="{ 'is-invalid': submitted && niveauFormControls.libelle.errors }"> 
                            <div *ngIf="submitted && niveauFormControls.libelle.errors" class="invalid-feedback">
                                <div *ngIf="niveauFormControls.libelle.errors.required">champ obligatoire</div>
                            </div>
            </div>

            <div class="form-group col-md-3">
                <label for="inputEmail4">Coût :</label>
                <input type="number" class="form-control" formControlName="cout"
                [ngClass]="{ 'is-invalid': submitted && niveauFormControls.libelle.errors }"> 
                            <div *ngIf="submitted && niveauFormControls.libelle.errors" class="invalid-feedback">
                                <div *ngIf="niveauFormControls.libelle.errors.required">champ obligatoire</div>
                            </div>
            </div>

            <div class="form-group col-md-2">
                <label for="inputEmail4" >&nbsp;&nbsp;</label>
                <button *ngIf="!niveauEdited" (click)="submitted = true;" type="submit" class="btn btn-primary form-control">Ajouter</button>
                <table *ngIf="niveauEdited">
                    <tr>
                        <td><button (click)="annuler = true;" type="submit" class="btn btn-primary float-left">Annuler</button></td>
                        <td>&nbsp;&nbsp;</td>
                        <td><button (click)="submitted = true;" type="submit" class="btn btn-primary float-right">Modifier</button></td>
                    </tr>     
                </table>
                
            </div>
            
          </div>
    </form> 
</div>